* {
    box-sizing: border-box;
}
body {
    margin: 0px auto;
     max-width: 1280px;
     background-color: white;
       padding-bottom: 20px;
}
.header {
    width:1280px;
    margin-top: 20px;
    background-color: #ffffff;
}
.floatright {
    float:right;
    margin-top: 17px;
    margin-right: 66px;
    font-family: 'Open Sans', sans-serif;
    color:#173493;
}
.items {
        margin-left:35px;
}
.top {
    background-image: url('img/enchant-your-guests.jpg');
    background-repeat: no-repeat;
    width: 1280px;
    height: 391px;
    text-align: center;
    color: white;
    font-family: 'Alegreya', serif;
     text-shadow: 2px 2px grey;
     position: relative;
     top:15px;
}
h1 {
    font-size: 72px;
    font-weight: bold;
   top:10px;
   text-align: center;
  
}
h2 {
    font-size: 40px;
    margin-top:2px;
}
.padding {
padding:1%;
text-align: center;
position:relative;
}
button {
    background-color:#345E03;
    height:67px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family: 'Alegreya', serif;
    border-radius: 5%;
    font-weight: bold;
}
.icons {
  background-color: #173493;
    text-align: center;
    padding: 1em 0;
}
.feature {
    text-align:center;
    font-family: 'Alegreya', serif;
    color:white;
    display: inline-block;
    padding: 0 1em;
}
.float {
    background-color: white;
}
.floatleft {
    float:left;
    width:32.5%;
    position: relative;
    line-height: 0;
    margin-right: 1.25%;
    margin-bottom: 1.25%;
}
.last {
    margin-right: 0;
}
.img {
    z-index: 0;
    width: 100%;
}
.zindex {
    z-index:1;
    position:absolute;
    background-color: rgba(00, 00, 00, 0.5);
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    bottom: 0;
    padding: 0.5em 1.5em;
    width: 100%;
    line-height: 1.2em;
}
.pictures {
    max-width: 1129px;
    margin: 0px auto; 
}

.bottom {
    margin-top:45px;
    background-color: #173493;
    padding:20px;
}
.textbottom {
display: inline-block;
   width:400px;
   height:257px;
   color:white;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
line-height:1.5;
padding-left:10px;
}
.titlebottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#h2-bottom {
    font-family: 'Alegreya', serif;
    color:white;
    padding-left:75px;
    padding-top:20px;
    font-size:42px;
}

