* {
    box-sizing: border-box;
}


body {
    margin: 0px auto;
     max-width: 1280px;
}


.header {
    height:90px;
    width:1280px;
    margin-top: 28px;
    background-color: #ffffff;
    background-image: url('img/your-party.png');
    background-repeat: no-repeat;
   
    
}
.floatright {
    float:right;
    margin-top: 17px;
    margin-right: 66px;
    font-family: 'Open Sans', sans-serif;
    color:#173493;
}
.items {
        margin-left:35px;
}
.top {
    background-image: url('img/enchant-your-guests.jpg');
    background-repeat: no-repeat;
    width: 1280px;
    height: 391px;
    text-align: center;
    color: white;
    font-family: 'Alegreya', serif;
     text-shadow: 2px 2px grey;
     position: relative;
}
h1 {
    font-size: 76px;
}
h2 {
    font-size: 26px;
}
.padding {
padding:40px;
text-align: center;
}
button {
    background-color: #407305;
    width: 222px;
    height:67px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: 'Alegreya', serif;
    border-radius: 5%;
    font-weight: bold;
}
.icons {
    background-color: #173493;
    width: 1280px;
    height:130px;
   margin: 0px auto;
   display: flex;
   flex-direction: row;
}
.feature {
    text-align:center;
    margin:0px auto;
    font-family: 'Alegreya', serif;
    color:white;
    }
.float {
    background-color: white;
}
.floatleft {
    float:left;
    width:32%;
    margin:2px;
}
.img {
    width:370px;
    height:298px;
     margin:4px;
    z-index: 0;
    position:relative;
}
.zindex {
    z-index:1;
    position:absolute;
   margin-top:-60px;
   background-color: rgba(00, 00, 00, 0.5);
   width:370px;
   height:50px;
   color:white;
   font-family: 'Open Sans', sans-serif;
    font-size: 30px;

}
.pictures {
    width: 1129px;
    margin:0px auto; 
}

.bottom {
    margin-top:45px;
    background-color: #173493;
    padding:20px;
     
}
.textbottom {
   display: inline-block;
   width:396px;
   height:257px;
   color:white;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
padding:20px;
line-height:1.5;
}
.titlebottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#h2-bottom {
    font-family: 'Alegreya', serif;
    color:white;
    padding-left:75px;
    font-size:40px;
}

.pokus {
    position: relative;
    border: 1px black solid;
    height: 3em;
}

.pokus span {
    border: 1px black solid;
    position: absolute;
    bottom: 0;
    right:30px;
}